[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
discord-py = "*"
pyyaml = "*"
markovify = "*"

[requires]
python_version = "3.8"

[scripts]
tokusentai = "python main.py"
clean_database = "python clean_database.py"